body {
    background-color: #00e6e6;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION HEADING */
.heading {
    background-color: #ffe479;
    padding: 1em 0;
    margin: 0;
    position: fixed;
    top: 0; 
    width: 100%;
    text-align: center;
}

/* FORM AND POST AREA*/
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#form-collector,
.post-collector {
    width: 50%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    padding-bottom: 0;
}

.post-collector {
    padding: 0;
}

input,
textarea,
button {
    border: none;
    text-align: center;
    margin-bottom: 2em;
}

input,
button {
    padding: 1em;
}

textarea {
    height: 250px;
    resize: none;
    padding: 2em;
    font-family: inherit;
}

button {
    background-color: #ffe479;
    text-transform: uppercase;
    font-weight: 600;
}

button:hover,
button:focus {
    background-color: #ffeb99;
}